import React from 'react'

import styles from './{{pascalCase name}}.module.scss'

type {{pascalCase name}}Props = {}

export function {{pascalCase name}}({} : {{pascalCase name}}Props) {
  return (
    <div className={styles.{{camelCase name}} }>{{pascalCase name}}</div>
  )
}